name: Lint

on: [push, pull_request]

jobs:

  lint:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
           python-version: '3.x'
      - uses: psf/black@stable
        with:
           options: ". --check"
      - name: Setup flake8 annotations
        uses: rbialon/flake8-annotations@v1
      - name: flake8 for syntax
        run: |
           python -m pip install flake8==3.8.4  
           flake8 --select=F --ignore= --ignore=F403,F405 --per-file-ignores=**__init__.py:F401 --statistics
      - name: downgrade importlib
        run: |
            python -m pip install "importlib-metadata<5.0"
